<!DOCTYPE html>
<html>
<head>
    <title>Home - Skletter</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="{{ server.css_assets }}/home.css" rel="stylesheet">
    <link href="{{ server.css_assets }}/form.css" rel="stylesheet">

</head>
<body>
<div id="header"></div>
<div id="content">

    <div class="main-container">
        <div class="box" id="left">
            <div class="info">
                <div id="welcome-msg">
                    <h1>Welcome to Skletter</h1>
                    <h2>Write letters to yourself, and the world.</h2>
                </div>
                <div class="card-container">
                    <div class="card">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </div>
                    <div class="card">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </div>

                </div>
            </div>
        </div>
        <div class="box" id="right">
            <div class="action-box">

                <h2>Join Skletter</h2>
                <div id="login-box">
                    <div class="login-container">
                        <form onsubmit="login(event)" method="post" action="">
                            <input id="identity" name="identity" placeholder="Email or Username" type="text"
                                   tabindex="1" class="std text">
                            <input id="password" name="password" placeholder="Password" type="password"
                                   class="std text" tabindex="2">
                            <button class="std primary-btn" tabindex="3"> Login</button>
                        </form>
                        <div class="processor" id="login-processor">
                            <img class="loader" id="login-loader" style="margin-top: 10px" width="32"
                                 src="{{ server.img_assets }}/loader-64.gif">
                            <div class="error-box" id="login-error-box">

                            </div>
                        </div>
                    </div>
                </div>
                <div id="registration-box">
                    <a href="{{ server.base_url }}/register">
                        <button class="std secondary-btn" tabindex="4"> Sign up</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ include('pieces/footer.twig') }}

</body>
<script src="{{ server.js_assets }}/axios.min.js"></script>
<script>
    function login(event) {
        event.preventDefault();
        document.getElementById('login-processor').style.display = "block";
        let error_box = document.getElementById('login-error-box');
        let loader = document.getElementById('login-loader');

        error_box.style.display = "none";
        loader.style.display = "initial";

        axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
        const form = new FormData();
        // TODO: get element by id into an array
        form.append('identity', document.getElementById('identity').value);
        form.append('password', document.getElementById('password').value);

        axios.post('{{ server.base_url }}/login', form)
            .then(function (response) {
                if (response.data['status'] === 'success') {
                    window.location = '{{ server.base_url }}/success';
                }
                else {
                    loader.style.display = "none";
                    error_box.style.display = "block";
                    error_box.innerText = response.data['error'];
                }
            })
            .catch(function (error) {
                console.log(error);
            });
    }

</script>
</html>