{% extends "base.twig" %}

{% block title %} {{ title }} {% endblock %}
{% block head %}
    <link href="{{ server.css_assets }}/registration.css" rel="stylesheet">
    <link href="{{ server.css_assets }}/form.css" rel="stylesheet">
    <script src="{{ server.js_assets }}/axios.min.js"></script>
    <script src="{{ server.js_assets }}/register.js"></script>
{% endblock %}
{% block content %}
    <div id="main-container" class="container">
        {% if status == 'Temp' %}
            {% include('pieces/contact_verification_prompt.twig') %}
        {% else %}
            {% include('pieces/registration_form.twig') %}
        {% endif %}
    </div>
{% endblock %}