<!DOCTYPE html>
<html lang="EN">
<head>
    <title>{% block title %}{% endblock %}</title>
    {{ include('base_includes.twig') }}
    <script src="https://kit.fontawesome.com/7bd7bcf156.js" crossorigin="anonymous"></script>
    <link href="{{ server.css_assets }}/web-platform.css" rel="stylesheet">
    <link href="{{ server.css_assets }}/form.css" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body>
<div id="header">
    <div class="header-wrapper">
        <div class="row">
            <div class="column">
                <div class="header-block head-text">

                </div>
            </div>

            <div class="column central-block">
                <div id="search-root"></div>
            </div>
            <div class="column" style="align-items: flex-end">
                <div style="margin-left: 50px">
                        <span class="fa-stack nav-icon" style="vertical-align: top;">
                          <i class="fas fa-circle fa-stack-2x stack-bg"></i>
                          <i class="fas fa-comments fa-stack-1x fa-inverse stacked-ico"></i>
                        </span>
                    <span class="fa-stack nav-icon" style="vertical-align: top;">
                          <i class="fas fa-circle fa-stack-2x stack-bg"></i>
                          <i class="fas fa-bell fa-stack-1x fa-inverse"></i>
                        </span>
                    <span class="fa-stack nav-icon" style="vertical-align: top;">
                          <i class="fas fa-circle fa-stack-2x stack-bg"></i>
                          <i class="fas fa-ellipsis-h fa-stack-1x fa-inverse"></i>
                        </span>
                </div>

            </div>
        </div>
    </div>

</div>
<div id="content">
    <div id="main-container" class="container">
        <div class='page-wrapper'>
            <div class='row'>
                <div class='column main-left'>
                    {{ include('pieces/action_menu.twig') }}
                </div>
                <div class='column main-center'>
                    <div id="example"></div>
                    {% block content %}{% endblock %}
                </div>

                <div class='column'>
                    <div class='right-block'>
                        <div class="row">
                            {% block footer %}
                                &copy; Skletter.
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dialog-root">

</div>
{% block costly_imports %}
    <script src="{{ server.js_assets }}/react-components/base-bundle.js"></script>
{% endblock %}

</body>
</html>
